<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link type="text/css" rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../index.html">
    <script src="https://kit.fontawesome.com/2022c4598c.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://fonts.google.com/specimen/Josefin+Sans"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luxury Cellphones</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="../index.html">
                    <img src="../imgs/logo.png" alt="logo" />
                </a>
            </div>
            
        </div>
        <div class="header-inner">
            <div class="logo" data-bind="element "></div>
        </div>
    </div>

    
    <!-- <div class="account">       
            <form name="conta" action="#account">
                <button class="btn-account" type="submit">
                    <i class="fa-sharp fa-solid fa-circle-user"></i>
                </button>
            </form>
        </div>
    -->
    <div class="account">       
        <a href="login.html" class="words">
            <i class="fa-sharp fa-solid fa-circle-user"></i>
        </a>
    </div>
    
    <div class="create">
        <a href="login.html" class="words">
            <p>Bem Vindo!<br>Entre ou cadastre-se</p>
        </a>
    </div>

    <div class="favcon">
        <a href="../index.html" class="favcon-dec">
            <i class="fa-solid fa-bag-shopping"></i>
        </a>
        <a href="../index.html" class="favcon-dec">
            <i class="fa-solid fa-heart"></i>
        </a>
    </div>
    
    </header>
    
    <div class="search">
        <div class="header-flow">
                <div class="search-box">
                    <form name="produtos" action="#produtos">
                        <input class="search-flow" type="text" name="q" autocomplete="off" placeholder="Busque aqui...">
                        <button class="btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<nav class="menu">
   <ul>
    <li>
        <a href="apple.html">Apple</a>
    </li>
    <li>
        <a href="samsung.html">Samsung</a>
    </li>
    <li>
        <a href="motorola.html">Motorola</a>
    </li>
    <li>
        <a href="xiaomi.html">Xiaomi</a>
    </li>
   </ul>

</div>
</nav>

<div class="bar">
    <button class="btn-loc" type="submit">
        <i class="fa-solid fa-location-dot"></i>
    </button>

    <div class="btn-socials">
        <li class="icons">
            <a href="https://www.instagram.com" class="icons">
                <i class="fa-brands fa-instagram"></i>
            </a>
        
            <a href="https://www.facebook.com" class="icons">
                <i class="fa-brands fa-facebook"></i>
            </a>
        
            <a href="https://twitter.com" class="icons">
                <i class="fa-brands fa-twitter"></i>
            </a>
        
            <a href="https://www.whatsapp.com/?lang=pt_br" class="icons">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        
            <a href="https://web.telegram.org" class="icons">
                <i class="fa-brands fa-telegram"></i>
            </a>
        </li>
</div>
</body>
</html>
